/* Preboot.scss
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */


 // VARIABLES
 // ---------

 // Grays
 $black:             #000;
 $grayDark:          lighten($black, 25%);
 $gray:              lighten($black, 50%);
 $grayLight:         lighten($black, 75%);
 $grayLighter:       lighten($black, 90%);
 $white:             #fff;
 $blue:              #049CDB;

 // Brand Colors
 $fontColor:         #666666;
 $font-family:       Verdana, Geneva, sans-serif;
 $titleColor:        #666666;
 $accColor:          #77bc43;
 $bgColor:           #ffffff;
 $lineColor:         #b3ae93;
 $vlineColor:        #a3d66b;
 $btnprimaryGrad1:   #e36e2d;
 $btnprimaryGrad2:   #cb5514;
 $btnColor:          #7cab45;
 $btnHoverColor:     #416f0d;
 $bgBin: #f9f7f6;
	$green: #7cab45;
	$light-green: #a3d66b;
	$dark-green: #416f0d;
	$white-green: #CFC;
	$border-green: #6b9e32;
	$ochre: #B3AE93;
	$light-ochre: #d6d2be;
	$white-yellow: #FFC;

 // Baseline grid
 $basefont:          13px;
 $baseline:          18px;

 // Mag Sizes
 $panelheight:       100px;
 $panelwidth:        68px;

 // Color Scheme
 $baseColor:         $blue;                  // Set a base color
 $complement:        spin($baseColor, 180);  // Determine a complementary color
 $split1:            spin($baseColor, 158);  // Split complements
 $split2:            spin($baseColor, -158);
 $triad1:            spin($baseColor, 135);  // Triads colors
 $triad2:            spin($baseColor, -135);
 $tetra1:            spin($baseColor, 90);   // Tetra colors
 $tetra2:            spin($baseColor, -90);
 $analog1:           spin($baseColor, 22);   // Analogs colors
 $analog2:           spin($baseColor, -22);

 @mixin smallType {
 	font-size: 12px;
 	color: $gray;
 	line-height: 16px;
 }
 canvas {
    -ms-touch-action: double-tap-zoom;
}