/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'GandhiSansRegular';
    background-color: #9cafda;
   
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#map {

 overflow:hidden;

}


@font-face {
    font-family: 'GandhiSansRegular';
    src: url('../fonts/GandhiSans-Regular-webfont.eot');
    src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Regular-webfont.svg#GandhiSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GandhiSansItalic';
    src: url('../fonts/GandhiSans-Italic-webfont.eot');
    src: url('../fonts/GandhiSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Italic-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Italic-webfont.svg#GandhiSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GandhiSansBold';
    src: url('../fonts/GandhiSans-Bold-webfont.eot');
    src: url('../fonts/GandhiSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Bold-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Bold-webfont.svg#GandhiSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GandhiSansBoldItalic';
    src: url('../fonts/GandhiSans-BoldItalic-webfont.eot');
    src: url('../fonts/GandhiSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-BoldItalic-webfont.svg#GandhiSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*


@font-face {
    font-family: 'brandon_grotesque_thinregular';
    src: url('../fonts/brandon_thin-webfont.eot');
    src: url('../fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_thin-webfont.woff') format('woff'),
         url('../fonts/brandon_thin-webfont.ttf') format('truetype'),
         url('../fonts/brandon_thin-webfont.svg#brandon_grotesque_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesque_thinitalic';
    src: url('../fonts/brandon_thin_it-webfont.eot');
    src: url('../fonts/brandon_thin_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_thin_it-webfont.woff') format('woff'),
         url('../fonts/brandon_thin_it-webfont.ttf') format('truetype'),
         url('../fonts/brandon_thin_it-webfont.svg#brandon_grotesque_thinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


#cloudmap {
		
	height: 100%;
	position: relative;
	
	overflow:hidden;
	
}


#navcontainer {

	background-color: #000;
	width:99%;
	height:42px;

}

#back {

	background-color: #9CAFDA;
	width:109px;
	height:94%;
	float:left;	
	text-align: center;
	cursor:pointer;
	border-style:solid; 
	border-width:2px;
	line-height: 2.5em;
	color:#2458AB;
	border-color: #2458A8;
	border-radius: .3em;


}

#refresh {

	width:100%;
	height:94%;
	background-color: #9CAFDA;
	text-align: center;
	cursor:pointer;
	border-style:solid; 
	border-width:2px;
	line-height: 2.5em;
	color:#2458AB;
	border-color: #2458A8;
	border-radius: .3em;
	

}

#direction {

	width:84%;
	text-align: left;
	color:#fff;
	padding-left:3%;
	padding-right:0%;
	cursor:pointer;
	font-size:16px;
	display:inline-block;
	height:100%;
	margin-right:-60px;
	line-height: 17px;
	margin-top: 5px;
}

#direction_box {

	width:95%;
	height:44px;
	background-color: #000;
	cursor:pointer;
	margin-top:10px;
	border-radius:.3em;
	border-bottom: 2px solid #dfe3e9;
	border-right: 2px solid #dfe3e9;
	margin-left: 6px;
	


	
}

#direction_box2 {

	width:100%;
	height:44px;
	background-color: #000;
	cursor:pointer;
	margin-top:-26px;
	margin-left: 8px;
	top:37px;
	border-radius:.3em;
	border-bottom: 2px solid #dfe3e9;
	border-right: 2px solid #dfe3e9;
	
	
}



#direction2 {

	width:84%;
	text-align: left;
	color:#fff;
	padding-left:3%;
	padding-right:0%;
	cursor:pointer;
	font-size:16px;
	display:inline-block;
	height:100%;
	margin-right:-60px;
	line-height: 17px;
	margin-top: 29px;

}

#busstop_initial {


	background-color: #000;
	text-align: center;
	color:#fff;
	border-radius:.3em;
	border-bottom: 2px solid #dfe3e9;
	border-right: 2px solid #dfe3e9;
	


}

.bustime {


	width:95%; 
	height:56px; 
	text-align:left; 
	background-color:#fff; 
	margin: 0 auto; 
	border-style:solid; 
	border-width:1px;
	cursor:pointer;
	line-height: 1.3em;
	border-radius: .4em;
	border-color: #9CAFDA;

}


div.centered{


    
  }


#direction_container {


	width:100%;
	height:150px;
	position:absolute;
	top:-18px;



}

#stop_container {


	
	width:95%;
	height:95%;
	
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -48%;
  margin-left: -48%;
  overflow-y: scroll;
  overflow-x: hidden;
  	 border-style:solid; 
	 border-color: #965ba0;
	 border-width:4px;
	 border-radius:.3em;
	 z-index: 2;
  
  }
  
  
 .stoplist {

	 width:100%; 
	 height:43px; 
	 text-align: left; 
	 margin: 0 auto; 
	 background-color:#000000; 
	 border-style:solid; 
	 border-color: #9cafda;
	 border-width:1px;
	 cursor:pointer;
	 text-indent: 12px;
	 line-height: 2.6em;
	 color:#fff;
 }

#loadpage{



}

.bold {

	/*font-family:'GandhiSansBold';*/
	font-size: 20px;

}

.small {


	font-size: 13px;

}

}

/*

	width:95%;
	height:95%;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -175px;
	
	*/











/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
